body {
    background-image: url(/gym-fitness-crossfit.jpeg);
}

h1 {
    color: rgb(255, 153, 0);
    font-size: 85px;
    font-family: 'DM Serif Display', serif,;
}

h4 {
    color: rgb(255, 153, 0);
    font-size: 50px;
    font-family: 'DM Serif Display', serif,;
}
#center {
    margin: auto;
    width: 75%;
    padding: 20px;
    text-align: center;
}

#Workout-dropdown {
    text-align: center;
}


#Your-exercises {
    text-align: center;
    width: 300px;
    border: 2px solid rgb(255, 174, 0);
    padding: 100px;
    margin: 100px;
    background-color: white;
  }

  #right {
      height: 450px;
      width: 500px;
      margin: 20px;
      padding: 0px;
      text-align: center;
      border: 5px solid red
  }
  
  
  h2 {
      color: rgb(255, 60, 0);
      font-size: 35px;
      font-family: 'DM Serif Display', serif,;
      padding: 10px;
      text-align: center;
      
  }
  